header.topPage {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  background-color: #dd9331;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  justify-content: center;
  align-items: center;
}

header h2.account {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

header span.name {
  font-weight: 900;
}


/* Add responsive design for mobile phones */
@media only screen and (max-width: 767px) {
  header.topPage {
   margin: 0;
  }

  header img {
    margin-top: 90px;
    height: 175px;
  }
 
  #writeTweet {
    margin-top: 25px;
  }

  .tweeterLogo {
    font-size: larger;
  }
}
 
/* Add responsive design for tablets */
@media only screen and (min-width: 768px) and (max-width:1023px) {
  header.topPage {
   margin: 0;
  }

  header img {
    margin-top: 60px;
    height: 225px;
  }
 
  #writeTweet {
    margin-top: 25px;
  }
}



