.content {
  display: flex;
  flex-direction: column;
  margin-bottom:50px;
  margin-left: 200px;
  width: 200%;
}
section.new-tweet main {
  padding: 15px;
}

section.new-tweet, ::placeholder {
  color: #545149;
  font-weight: 600;
}


#tweetButton {
  background-color: #4056A1;
  color: #fff;
  font-family:'Bungee', sans-serif;
  margin-top: 5px;
}

.counter {
  font-family:'Bungee', sans-serif;
  color: #545149;
  float: right;
  margin-top: 15px;
}


.counter.tweetTooLong {
  color:red;
}


#tweet-text {
  color: #545149;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-bottom: 4px #545149 solid;
  resize: none;
  width: 100%;
}

#tweet-text:focus {
  outline: none;
  border: none;
  border-bottom: 4px #545149 solid;
}

article.tweet {
  border-style: solid;
  border-width: thick;
  color: #545149;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
 }

 .double-arrow {
   color: red;
 }


 article.tweet:hover {
  box-shadow: 5px 5px 0 #c8c8c8;
 }


 article.tweet header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
 }


 article.tweet header img {
  height: 50px;
}


article.tweet header span {
  padding: 10px;
  margin-bottom: 20px;
}


article.tweet header span.handle {
  margin-left: auto;
  color: #c0bfbd;
  font-weight: bold;
}


article.tweet span {
  padding: 10px;
}


article.tweet footer {
  border-style: none;
  border-top-style: solid;
  border-width: thick;
  color:#545149;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: -20px;
 }


 article.tweet footer span {
  font-size: 15px;
}


article.tweet footer span.interactOptions {
  font-size: 16px;
  margin-left: auto;
  color: #4056A1;
}
.icon-css {
  margin-right:10px;
}

.icon-css:hover {
  color: darkgoldenrod;
  cursor:pointer;
  
}

#error-message {
  color:red;
  font-size: 32px;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

#error-container {
  display: none;
  box-sizing: content-box;
  color: red;
  text-align: center;
  border: 2px solid red;
  margin-top: 10px;
}

#error-container p {
  margin: 0;
}

/* Add responsive design for mobile phones */
@media only screen and (max-width: 767px) {
  .content {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .tweets-container{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  article.tweet header img {
    margin-top: 0;
  }
 }


 /* Add responsive design for tablets */
@media only screen and (min-width: 768px) and (max-width:1023px) {
 .content {
   width: 100%;
   margin: 0;
   padding: 20px;
 }

 .tweets-container{
   width: 100%;
   margin: 0;
   padding: 0;
 }

 article.tweet header img {
  margin-top: 0;
}
}

